.layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}